.chatroom {
    max-width: 76rem;

    /*padding-top: 107px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    margin-right: auto;
    margin-left: auto;
    /*background-image: linear-gradient(to top,white 20%,#f3f2f1);*/
    display: flex;
    background: none;
    flex-direction: row;
}
.left-screen{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    width: 60%;
    justify-content: center;
}
.right-screen{
    width: 40%;
    /*min-height: 100%;*/
    /*height: 100%;*/
}
.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}
.primary-buttons {
    /*margin-top: 2vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    position: absolute;
    width: 100% !important;
    max-width: calc(1400px - 40px);
    mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 3%,
            black,
            rgba(0, 0, 0, 0) 97%
    );
}

.submit-button {
    display: flex;
    margin: 2rem;
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*background: white;*/
}

button.ASR_buttons {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    z-index: 2;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 178px;
    height: 57px;
    color: white;
    background: #708fc1;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}

.pill{
    z-index: 2;
    border-radius: 29px;
    box-sizing: border-box;

    width: 130px;
    height: 57px;

    flex-shrink: 0;
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.pill.done{
    background: white;
    /*border: 2px solid #e7e5e2;*/
    border:none;
}
.pill.done.contents{
    display: flex !important;
    height: 100%;
    align-items: center;
}
.pill.done.recording.contents.padder{
    /*display: inline-block;*/
    /*border-inline-start: 1px solid #f3f2f1;*/
    /*padding: 0 16px;*/
}
.pill.active{
    border: 2px solid #e7e5e2;
    background: white;
}
/*audio::-webkit-media-controls-current-time-display{*/
/*  display: none;*/
/*}*/
/*audio::-webkit-media-controls-time-remaining-display{*/
/*  display: none;*/
/*}*/
/*audio::-webkit-media-controls-timeline-container{*/
/*  display: none;*/
/*}*/
.padder{
    display: inline-block;
    border-inline-start: 1px solid #f3f2f1;
    padding: 0 16px;
}
.placeholder{
    width: 110px;
}
button{
    border: none;
    padding: 0;
    height: 100%;
    background: none;

    cursor: pointer;
    outline: none;
}
button.play:hover path{
    fill: #59cbb7;
}
button.redo:hover path{
    fill: #ff4f5e;
}
.redo.
button.share:hover path{
    fill: #629ff4;
}
.num{
    /*background: #959595;*/
    /*color: #fff;*/
    background: #f3f2f1;
    border: 1px solid #f5f4f3;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 600;
    margin-left: 20px;
    /*color: #4a4a4a;*/
}
.pill.done{
    background: white;
}

.infinite-container{
    background-color: #f9f9f9;
    border: 2px solid #dedede;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    /*background-color: black;*/
}


.scenario{
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    min-height: 500px;
    /*border: 3px dashed #d0d0d0;*/
    /*background-image: linear-gradient(to top,white 20%,#f3f2f1);*/
    background: none;
  height: 600px;
}
.scenarioText{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
  float:left;
  overflow-y: auto;
  position: relative;
}
.scenarioText1{
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  float:left;
  overflow-y: auto;
  position: relative;
}
.audioHistory{
    /*!*background-image: linear-gradient(to top,white 20%,#f3f2f1);*!*/
    /*background: none;*/
    /*display: flex;*/
    /*flex-direction: row;*/

    /*!*justify-content: center;*!*/
    /*align-items: center;*/
    /*min-height: 350px;*/
    /*!*height: 500px;*!*/
    /*!*border-left: 3px dashed #d0d0d0;*!*/
    /*!*border-bottom: 3px dashed #d0d0d0;*!*/
}
.listAudio{
    /*border: 1px solid #d0d0d0;*/
    /*min-height: 300px;*/
    padding-top: 10px;
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hr1{
    border: none;
    width: 80%;
    height: 1.5px;
    background: rgba(230,229,227,0.6);
}
audio.audioPlay{
}

.identifiedTextRecord{
    width: 60%;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid #d0d0d0;
    min-height: 100px;
    font-size: 20px;
    padding: 10px;
}
.messageBox {
    display: flex;
    flex-direction: row ;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 10px;
    color: white;
    /*display: inline-block;*/
    max-width: 100%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 15px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
  /*position: relative;*/
}

.colorWhite {
    color: black;
}

.colorDark {
    color: #353535;
}
.text-username{
    display: flex;
    flex-direction: column;
}
.backgroundBlue {
    background: #F1F1F1;
  width: 100%;
}

.backgroundBlue-loading {
    background: #F1F1F1;
  width: 100%;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.backgroundLight {
    background: #EDD1D1;
    width: 100%;
}

button.play{
    /*width: 100%;*/
    /*height: 100%;*/
}
/*.play-audio{*/
/*    background: white;*/
/*    display: flex;*/
/*    border-radius: 50%;*/
/*    width: 3rem;*/
/*    height: 3rem;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    !*border-radius: 50%;*!*/
/*    !*background: black;*!*/
/*}*/
.react-area{
    display: flex;
    flex-direction: column;
}
.check-button{
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  position: relative;

}
.like-button{
  position: absolute;
  right:    0;
  bottom:   0;
}
.check-button1{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  position: relative;
}

button.check{
    /*margin: 5px;*/
}
button.check svg path{
    fill: black;
}
.audio-text{
  display: flex;
  flex-direction:column;
}
.message-area{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    /*justify-content: space-between;*/
    /*border: 1px solid var(--c);*/
    /*--c:black;*/
}

button.ASR_buttons:disabled,
button.ASR_buttons[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.message-area:hover{
    --c:#3E4042;
}
.message-area > .check-button> button.check svg path{
    fill: var(--c);
}
.double-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
button.send svg path{
    fill: black;
}
.cancel{
    color:black;
    font-size: 15px;
}
.instruction{
    margin-top: 20px;
    min-height: 23px;
    font-style: italic;
    color: #4a4a4a;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}
h3.scenario-subtitle{
  display: flex;
  justify-content: center;
}
p.avatar{
    font-size: 10px;
    letter-spacing: 0.3px;
}
#a:hover  #b {
  display: flex;
  /*background: #4a4a4a;*/
}
#c:hover  #d {
  display: flex;
  /*background: #4a4a4a;*/
}
.text-checkButton{
    display: flex;

}
.text-checkButton1{
    display: flex;
    justify-content: flex-end;
}
.edit-text{
  width: 400px;
  letter-spacing: 0;
  float: left;
  font-size: 15px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
.footer-asr{
  display: flex;
  justify-content: space-between;
}
.pdfWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}
@media screen and (max-width:600px) {
  .pill{
    width: 85px;
    height: 30px;
  }
  button.buttons{
    width: 85px;
    height: 30px;
  }
  .instruction{
    font-size: 11px;
    word-wrap: break-word;
  }
  /*.infinite-container{*/
  /*  width: 40%;*/
  /*}*/
  .messageBox{
    font-size: 10px;
  }

  .chatroom{
    flex-direction: column;
  }
  .right-screen{
    width: 100%;
  }
  .left-screen{
    width: 100%;
  }
  .edit-text{
    width: 100px;
  }
  /*.messageContainer{*/
  /*  flex-direction: column;*/
  /*}*/
  /*.message-area{*/
  /*  justify-content: flex-end;*/
  /*}*/
  /*.check-button1{*/
  /*  justify-content: flex-end;*/
  /*}*/
}

